*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*background class*/
.background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(media/bluebackground.jpg);
    background-size: cover;
    background-position: center;
}
/*navbar class*/
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*navbar unordered list list item class*/
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
